<%- include('includes/header.ejs') %>
<main>
  <article class="card-detail">
    <img src=" <%= user.avatar %>" class="post-detail-image" />
    <div class="publication">
      <p><%= user.firstName%> <%= user.lastName%></p>
      <p>Departamento:<%= user.role%></p>
    </div>
  </article>
  
  <p>Bio: <%= user.bio%></p>

  <%- include('includes/footer.ejs') %>
</main>
