<%- include('includes/header.ejs') %>
<main>
  <h1>Quienes Somos</h1>

  <% for (let user of users) { %>
  <img src=" <%= user.avatar %>" />
  <p><%= user.firstName%> <%= user.lastName%></p>
  <p>Departamento:<%= user.role%></p>
  <p><a href="/users/<%= user.ID %>">Ver más</a></p>
  
  <%}%>
</main>

<%- include('includes/footer.ejs') %>
